flows_PC-SALVAT.json
[{"id":"f87d59aa.c39718","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"7ad1b2c6.8282ac","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"ea4eac65.bbfa6","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"4e61ca55.d4c504","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"b8263ff7.8d687","type":"ui_group","z":"","name":"Default","tab":"16d01fe3.de405","order":1,"disp":true,"width":"6","collapse":false},{"id":"e0ee83cf.fa4d3","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"16d01fe3.de405","type":"ui_tab","z":"","name":"test","icon":"dashboard","disabled":false,"hidden":false},{"id":"1385c331.12585d","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"2a5abbd3.afa284","type":"ui_group","z":"","name":"Eléments d'entrée","tab":"99f501d2.56c31","order":1,"disp":true,"width":"10","collapse":false},{"id":"febe591f.8ca1f8","type":"ui_group","z":"","name":"Formulaire","tab":"99f501d2.56c31","order":2,"disp":true,"width":"8"},{"id":"842b8d23.22294","type":"ui_group","z":"df9159f.e304ea8","name":"Journal des événements du Dashboard","tab":"99f501d2.56c31","order":3,"disp":true,"width":"8"},{"id":"99f501d2.56c31","type":"ui_tab","z":"","name":"Ecran Principal","icon":"home","order":2},{"id":"656b3da6.41b924","type":"ui_group","z":"","name":"autre","tab":"e0ee83cf.fa4d3","order":1,"disp":true,"width":"6","collapse":false},{"id":"85d77091.fc907","type":"http request","z":"f87d59aa.c39718","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/significant_month.csv","tls":"","persist":false,"proxy":"","authType":"","x":410,"y":560,"wires":[["ae7e228f.74759"]]},{"id":"af1a711c.ef965","type":"inject","z":"f87d59aa.c39718","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"\"test\"","payloadType":"str","x":230,"y":560,"wires":[["85d77091.fc907","c902cf6c.06f28","da013370.369af"]]},{"id":"ae7e228f.74759","type":"csv","z":"f87d59aa.c39718","name":"","sep":",","hdrin":false,"hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":630,"y":600,"wires":[["f6cbfbd9.b1c828"]]},{"id":"f6cbfbd9.b1c828","type":"switch","z":"f87d59aa.c39718","name":"","property":"payload.col5","propertyType":"msg","rules":[{"t":"gte","v":"6","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":810,"y":660,"wires":[["b6e47fbb.9df2e"]]},{"id":"3a2ff675.16d32a","type":"inject","z":"7ad1b2c6.8282ac","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"str","x":190,"y":200,"wires":[["945b81a9.b76f5"]]},{"id":"945b81a9.b76f5","type":"http request","z":"7ad1b2c6.8282ac","name":"Recent Quakes","method":"GET","url":"https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/significant_month.csv","tls":"","x":360,"y":200,"wires":[["e894848d.d8b408"]]},{"id":"e894848d.d8b408","type":"csv","z":"7ad1b2c6.8282ac","name":"","sep":",","hdrin":true,"hdrout":"","multi":"one","ret":"\\n","temp":"","skip":0,"strings":true,"x":530,"y":200,"wires":[["3d887483.51177c","cc255c32.a7681"]]},{"id":"3d887483.51177c","type":"debug","z":"7ad1b2c6.8282ac","name":"","active":false,"complete":false,"x":690,"y":200,"wires":[]},{"id":"cc255c32.a7681","type":"switch","z":"7ad1b2c6.8282ac","name":"","property":"payload.mag","propertyType":"msg","rules":[{"t":"gte","v":"5","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":570,"y":260,"wires":[["107e67c4.95f0b8","d5371e13.03607"]]},{"id":"107e67c4.95f0b8","type":"change","z":"7ad1b2c6.8282ac","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"PANIC!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":320,"wires":[["d5371e13.03607"]]},{"id":"d5371e13.03607","type":"debug","z":"7ad1b2c6.8282ac","name":"","active":true,"complete":false,"x":810,"y":260,"wires":[]},{"id":"b6e47fbb.9df2e","type":"change","z":"f87d59aa.c39718","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"PANIC","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":780,"wires":[[]]},{"id":"c902cf6c.06f28","type":"function","z":"f87d59aa.c39718","name":"","func":"var newMsg = {payload: msg.payload.length };\nreturn [msg, newMsg];\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":430,"y":800,"wires":[["559fc7.56c58038"],["babdf477.91e308"]]},{"id":"559fc7.56c58038","type":"debug","z":"f87d59aa.c39718","name":"out1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":610,"y":780,"wires":[]},{"id":"babdf477.91e308","type":"debug","z":"f87d59aa.c39718","name":"out2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":610,"y":840,"wires":[]},{"id":"da013370.369af","type":"function","z":"f87d59aa.c39718","name":"count","func":"// initialise the counter to 0 if it doesn't exist already\nvar count = context.get('count')||0;\ncount += 1;\n// store the value back\ncontext.set('count',count);\n// make it part of the outgoing msg object\nmsg.count = count;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":360,"wires":[["783659e.71e7da8"]]},{"id":"783659e.71e7da8","type":"debug","z":"f87d59aa.c39718","name":"out3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":750,"y":360,"wires":[]},{"id":"58b300b4.d6383","type":"ui_slider","z":"f87d59aa.c39718","name":"","label":"slider","tooltip":"","group":"656b3da6.41b924","order":0,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":10,"step":1,"x":770,"y":960,"wires":[["c80a54ed.598f08"]]},{"id":"c80a54ed.598f08","type":"ui_gauge","z":"f87d59aa.c39718","name":"","group":"656b3da6.41b924","order":1,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":950,"y":920,"wires":[]},{"id":"11e51007.4fd7b","type":"ui_button","z":"f87d59aa.c39718","name":"","group":"b8263ff7.8d687","order":2,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"5","payloadType":"num","topic":"","x":400,"y":960,"wires":[["a8839e5a.e4bda"]]},{"id":"a8839e5a.e4bda","type":"ui_numeric","z":"f87d59aa.c39718","name":"","label":"numeric","tooltip":"","group":"b8263ff7.8d687","order":3,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":10,"step":1,"x":600,"y":960,"wires":[["7b894a09.8588d4"]]},{"id":"7b894a09.8588d4","type":"ui_gauge","z":"f87d59aa.c39718","name":"","group":"b8263ff7.8d687","order":1,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":790,"y":1040,"wires":[]},{"id":"6eecf682.454f38","type":"ui_button","z":"ea4eac65.bbfa6","name":"Boutton","group":"2a5abbd3.afa284","order":0,"width":0,"height":0,"label":"Boutton","color":"#fffff","icon":"fa-star","payload":"true","payloadType":"bool","topic":"Button","x":260,"y":160,"wires":[["1e96adb5.fd25e2"]]},{"id":"2a0c052c.dfe4ca","type":"ui_dropdown","z":"ea4eac65.bbfa6","name":"Liste de choix","label":"Choisissez ce que vous voulez","group":"2a5abbd3.afa284","order":0,"width":0,"height":0,"passthru":true,"options":[{"label":"Choix 1 : chaine","value":"Choix1","type":"str"},{"label":"Choix 2 : numérique","value":4,"type":"num"},{"label":"Choix 3 : bool","value":true,"type":"bool"}],"payload":"","topic":"Liste de choix","x":240,"y":200,"wires":[["1e96adb5.fd25e2"]]},{"id":"61be9b53.3a5ff4","type":"debug","z":"ea4eac65.bbfa6","name":"Dashboard Log","active":true,"console":"false","complete":"payload","x":800,"y":280,"wires":[]},{"id":"e7869632.cb19b8","type":"ui_switch","z":"ea4eac65.bbfa6","name":"Interrupteur","label":"switch","group":"2a5abbd3.afa284","order":0,"width":0,"height":0,"passthru":true,"topic":"Interrupteur","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":250,"y":240,"wires":[["1e96adb5.fd25e2"]]},{"id":"6f4d5597.73fb0c","type":"ui_slider","z":"ea4eac65.bbfa6","name":"Slider","label":"slider","group":"2a5abbd3.afa284","order":0,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":10,"step":1,"x":270,"y":280,"wires":[["1e96adb5.fd25e2"]]},{"id":"93c06deb.61b61","type":"ui_numeric","z":"ea4eac65.bbfa6","name":"","label":"numeric","group":"2a5abbd3.afa284","order":0,"width":0,"height":0,"passthru":true,"topic":"Numérique","format":"{{value}}","min":0,"max":10,"x":260,"y":320,"wires":[["1e96adb5.fd25e2"]]},{"id":"8f5cb4d9.8208a8","type":"ui_text_input","z":"ea4eac65.bbfa6","name":"","label":"Champ saisie de Texte","group":"2a5abbd3.afa284","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"Champ saisie de Texte","x":220,"y":360,"wires":[["1e96adb5.fd25e2"]]},{"id":"3375a2e.57b475e","type":"ui_form","z":"ea4eac65.bbfa6","name":"","label":"Un formulaire Node-RED","group":"febe591f.8ca1f8","order":0,"width":0,"height":0,"options":[{"label":"Du texte","value":"Texte","type":"text","required":true},{"label":"Un nombre","value":"Nombre","type":"number","required":false},{"label":"Un email","value":"email","type":"email","required":false},{"label":"Un mot de passe","value":"Mot de passe","type":"password","required":false},{"label":"Une case à cocher","value":"Case à cocher","type":"checkbox","required":false},{"label":"Un interrupteur","value":"Interrupteur","type":"switch","required":false}],"formValue":{"Texte":"","Nombre":"","email":"","Mot de passe":"","Case à cocher":false,"Interrupteur":false},"payload":"","topic":"Formulaire","x":210,"y":520,"wires":[["1e96adb5.fd25e2"]]},{"id":"1e96adb5.fd25e2","type":"function","z":"ea4eac65.bbfa6","name":"Enregistre les événements","func":"// Créé une variable pour stocker le journal du dashboard si inexistante\n// initialise the counter to 0 if it doesn't exist already\nvar dashboardLog = context.get('dashboardLog')|| [];\n\ndashboardLog.push(msg);\nif (dashboardLog.length > 20){\n    // Supprime le plus anciens message si > 20\n    // Delete oldest message if > 20\n    dashboardLog.shift();\n    dashboardLog.length = 20;\n} \n\n// Enregistre les messages du dashboard pour le prochain affichage\n// store the value back\ncontext.set('dashboardLog',dashboardLog);\n\n// Affiche le journal des messages\n// make it part of the outgoing msg object\nmsg = {};\nmsg.payload = dashboardLog;\nreturn msg;\n","outputs":1,"noerr":0,"x":560,"y":340,"wires":[["61be9b53.3a5ff4","7a421874.47f638"]]},{"id":"7a421874.47f638","type":"ui_template","z":"ea4eac65.bbfa6","group":"842b8d23.22294","name":"Journal des événement du Dashboard","order":1,"width":"8","height":"10","format":"<ul>\n <li ng-repeat=\"x in msg.payload\">\n <font color=\"red\">{{x.topic}}</font>\n    <ul>\n        <li>{{x.payload}}</li>\n    </ul>\n </li>\n</ul>","storeOutMessages":true,"fwdInMessages":true,"x":870,"y":380,"wires":[[]]},{"id":"87bf88d.1fbd678","type":"ui_text_input","z":"ea4eac65.bbfa6","name":"","label":"Champ saisie email","group":"2a5abbd3.afa284","order":0,"width":0,"height":0,"passthru":true,"mode":"email","delay":300,"topic":"Champ saisie email","x":230,"y":400,"wires":[["1e96adb5.fd25e2"]]},{"id":"55e7b58f.cafe6c","type":"ui_text_input","z":"ea4eac65.bbfa6","name":"","label":"Champ saisie mot de passe","group":"2a5abbd3.afa284","order":0,"width":0,"height":0,"passthru":true,"mode":"password","delay":300,"topic":"Champ saisie mot de passe","x":200,"y":440,"wires":[["1e96adb5.fd25e2"]]},{"id":"21feb1b7.018a5e","type":"ui_text_input","z":"ea4eac65.bbfa6","name":"","label":"Sélecteur de couleur","group":"2a5abbd3.afa284","order":0,"width":0,"height":0,"passthru":true,"mode":"color","delay":300,"topic":"Sélecteur de couleur","x":220,"y":480,"wires":[["1e96adb5.fd25e2"]]},{"id":"24aad578.3bb82a","type":"inject","z":"7ad1b2c6.8282ac","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":400,"wires":[["5f28bf37.f4c"]]},{"id":"5f28bf37.f4c","type":"function","z":"7ad1b2c6.8282ac","name":"","func":"var count = context.get(\"count\");\ncount+=1;\ncontext.set(\"count\",count);\nmsg.payload=\"\"+count;\nmsg.payload.count=count;\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\n context.set(\"count\",0)","finalize":"","x":390,"y":420,"wires":[["31ac26a.9c285da"]]},{"id":"31ac26a.9c285da","type":"debug","z":"7ad1b2c6.8282ac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.count","targetType":"msg","statusVal":"","statusType":"auto","x":640,"y":420,"wires":[]},{"id":"d63e9a89.5d1228","type":"inject","z":"4e61ca55.d4c504","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":480,"y":260,"wires":[["3983642.cccf59c"]]},{"id":"6c69baf5.66ced4","type":"debug","z":"4e61ca55.d4c504","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":940,"y":320,"wires":[]},{"id":"3983642.cccf59c","type":"counter","z":"4e61ca55.d4c504","inc":1,"name":"increment","x":680,"y":280,"wires":[["6c69baf5.66ced4"]]}]